<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="">
	<!-- Author Meta -->
	<meta name="author" content="SafeyPlace">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>SafeyPlace</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,400,300,500,600" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<link rel="stylesheet" href="/stylesheets/owl.carousel.css">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		<link rel="stylesheet" href="/stylesheets/nice-select.css">
		<link rel="stylesheet" href="/stylesheets/magnific-popup.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="container">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
							<a href="/inicio"><img src="/images/logo.png" ></a>
						</div>
						<div class="main-menubar d-flex align-items-center">
							<nav class="hide">
								<a href="/inicio">Inicio</a>
								<a href="/principal">Work Flow</a>
							</nav>
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-center">
					<div class="col-lg-12">
						<div class="banner-content">
							<h1>Seguridad <br>Informatica</h1>
							<p class="text-white">Aqui podras encontrar una amplia gama de vulnerabilidades.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<!-- Start Exprience Area -->
		<section class="section-gap exprience-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-1 "  >
						<div class="exprience-thumb" style="background: url(/images/Seguridad-Informatica.jpeg);"></div>
					

					</div>
					
					<div div class="col-lg-6 col-md-5">
						<div class="exprience-content">
							<h2>Método de clasificación <br></h2>
							<h6 class="sub-exprience-title">En SafetyPlace las vulnerebilidades que tenemos son medidas por distintos aspectos.</h6>
							<p>En SafetyPlace las vulnerabilidaddes que son registradas deben ser medidas, para dicha medición son utilizados dos metodos concisos, los cuales son STRIDE y DREAD, estos evaluan aspectos que resultan fundamentales al momento de hablar de seguridad informatica.</p>
						
						</div>
					</div>
			
				</div>
			</div>
		</section>
		<!-- End Exprience Area -->
		<!-- Start Service Area -->
		<section class="carousel-area section-gap relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-lg-6 col-md-9 relative">
						<div class="active-exprience-carousel">
							<div class="item">
								<h3>STRIDE <br> Spoofing</h3>
								<p>Suplantación de identidad de usuario. Conjunto de tácticas y técnicas que buscan compromiso de la gestión de identidad, autenticación y autenticidad del sistema.</p>
							</div>
							<div class="item">
								<h3>STRIDE <br> Tampering </h3>
								<p>Manipulación no autorizada. Motivación de afectar a la integridad de los elementos del sistema, modificándolo de manera maliciosa.</p>
							</div>
							<div class="item">
								<h3>STRIDE <br> Repudiation</h3>
								<p>Referente a no repudio. Cualidad de un sistema que permite tener certeza y validez sobre la demostración de autoría en una determinada acción.</p>
							</div>
							<div class="item">
								<h3>STRIDE <br> Information disclosure </h3>
								<p>Exposición de información. Brecha o fuga de información de clasificación interna o superior de la organización.</p>
							</div>
							<div class="item">
								<h3>STRIDE <br> Denial of service </h3>
								<p>Denegación de servicio. Ataques que buscan afectar la capacidad del sistema para ofrecer servicio. Estos ataques pueden afectar al servicio de manera temporal o indefinida.</p>
							</div>
							<div class="item">
								<h3>STRIDE <br> Elevation of privilege </h3>
								<p>Escalada de privilegios. Motivación de realizar acciones para las que un usuario no está autorizado originalmente. Elevando el nivel de permisos y disponibilidad sobre los recursos y funcionalidades del sistema.</p>
							</div>
						</div>
						<div class="carousel-trigger">
							<div class="next-trigger"><span class="lnr lnr-arrow-right"></span></div>
							<div class="prev-trigger"><span class="lnr lnr-arrow-left"></span></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Service Area -->
		<!-- Start Projects Area -->
		<section class="service-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-service d-flex flex-column align-items-center">
							<div class="icon">
								<span class="lnr lnr-screen"></span>
							</div>
							<div class="desc mt-30">
								<h4 class="mb-10">Seguridad</h4>
								<p>Es un factor de suma importancia que se debe tener en cuenta.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-service d-flex flex-column align-items-center">
							<div class="icon">
								<span class="lnr lnr-bug"></span>
							</div>
							<div class="desc mt-30">
								<h4 class="mb-10">Virus</h4>
								<p>Es de suma importancia el tener en cuenta los ataques externos que se puedan presentar a causa de software maliciosos.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-service d-flex flex-column align-items-center">
							<div class="icon">
								<span class="lnr lnr-hourglass"></span>
							</div>
							<div class="desc mt-30">
								<h4 class="mb-10">Reaccionar a tiempo</h4>
								<p>El reaccionar a tiempo es imperante, debido a que se necesita una pronta deteccion y reaccion ante las amenazas.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-service d-flex flex-column align-items-center">
							<div class="icon">
								<span class="lnr lnr-user"></span>
							</div>
							<div class="desc mt-30">
								<h4 class="mb-10">Usuario</h4>
								<p>Recae en cada usuario la responsabilidad de un desarrollo seguro.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Service Area -->
		<section class="carousel-area1 section-gap relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-lg-6 col-md-9 relative">
						<div class="active-exprience-carousel">
							<div class="item">
								<h3>DREAD <br> Damage: daño, impacto resultado de la explotación de la vulnerabilidad.</h3>
								<p>¿Cómo de negativo será el ataque e impacto?, cantidad y cualidad de las perdidas.</p>
							</div>
							<div class="item">
								<h3>DREAD <br> Reproducibility: reproducción del incidente, facilidad de su repetición.</h3>
								<p>¿Cómo de fácil es repetir el ataque?, coste de tiempo y recursos.</p>
							</div>
							<div class="item">
								<h3>DREAD <br> Exploitability: explotación de la vulnerabilidad, complejidad y coste de explotación.</h3>
								<p>¿Cómo de compleja es la explotación de esta vulnerabilidad?, coste de tiempo y recursos.</p>
							</div>
							<div class="item">
								<h3>DREAD <br> Affected users: afectación del incidente, cuantos usuarios y recursos se ven afectados, importancia de estos.</h3>
								<p>¿Cómo de compleja es la explotación de esta vulnerabilidad?, coste de tiempo y recursos.</p>
							</div>
							<div class="item">
								<h3>DREAD <br> Discoverability: facilidad de descubrimiento, exposición de la vulnerabilidad.</h3>
								<p>¿Cuan expuesta esta la vulnerabilidad?, ¿Cuánto cuesta descubrirla?, descubrimiento posible mediante procesos automáticos o necesidad de interacción</p>
							</div>
						</div>
						<div class="carousel-trigger">
							<div class="next-trigger"><span class="lnr lnr-arrow-right"></span></div>
							<div class="prev-trigger"><span class="lnr lnr-arrow-left"></span></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Start Projects Area -->
		<!-- End Video Area -->
		<!-- Start Projects Area -->
		
		<!-- Start Projects Area -->
		<!-- Start Contact Area -->
	

		<!-- Strat Footer Area -->
		<footer class="section-gap">
			<div class="container">
				
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

		<script src="/javascripts/vendor/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="/javascripts/vendor/bootstrap.min.js"></script>
		<script src="/javascripts/jquery.ajaxchimp.min.js"></script>
		<script src="/javascripts/owl.carousel.min.js"></script>
		<script src="/javascripts/jquery.nice-select.min.js"></script>
		<script src="/javascripts/jquery.magnific-popup.min.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>