*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;

}


#navprincipal > div >a{
  color: gainsboro;
 
}

#navprincipal > div >div>form> button:hover{
  background-color: mediumspringgreen;
  color:black;
 
}

.centro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
  }
  .margin{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .imagen{
    height: 50vw;
  }
@viewport{
 
  zoom: 1.0;
  width: device-width;
  min-width: 250px;
}
.titulos{
  color: aliceblue;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedorcard{
  background-color: grey;
  margin:0 4px;
  min-height:7.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  width: 272px;
 
}
.row{
  margin:0 4px;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  width:272px;
  padding: 0.6rem;
}
.nombreusr{
  left: calc(45%);
  margin-top: 15px;
  background-color: none;
  
  
  background-color: none;
  font-size: larger;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}
#barrita>div>a{
  color: aliceblue;
}
.tabla{

  background-color: transparent ;
  
  position: absolute;
  width:fit-content;
  top: 50%;
  transform: translateY(-50%);
}
@media(min-width:768px){
  .tabla-responsiva{
    width: 100%;
  }
}
.tablita{
  border: white;
}
.tablita>thead{
  color: aliceblue;
  font-size: large;
  font-style: italic;
}
.tablita>tbody{
color: aliceblue;
align-items: center;
}
.regresar{
  background-color: aqua;
  color: black;
  font-style: normal;
  border: black;
  display: flex;
  justify-content:center;
  width:min(8rem,100%);
}
.regresar:hover{
  background-color: greenyellow;
}
.editar{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  
  
}
.row{
  margin-left:0;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  width:272px;
}
.fecha{
  background-color: none;
  color: black;
}
.fecha{
  justify-content: center;
}
.accion{
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.div{
  margin-right: 3rem;
}
h3{
  width: 272px;
  background-color: grey;
}